<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="SignalGo.Net.Server" version="5.0.0" targetFramework="net461" />
  <package id="SignalGo.Net.Shared" version="5.0.0" targetFramework="net461" />
  <package id="SignalGo.Server.TelegramBot" version="5.0.2" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="Telegram.Bot" version="14.10.0" targetFramework="net461" />
</packages>